include _head.pug
.container
    .row
        .col-sm-8
          h1= articleSeul.titre
          |
          p= articleSeul.date
          |
          hr
          |
          p= articleSeul.contenu
          |
          hr
          |

          h2 Commentaire(s)
          |
          each commentaire in lesCommentaires
            if session.niveau ==2 || session.nom == articleSeul.auteur || session.nom == commentaire.auteur
              .row
                .col-xs-10
                  .media
                    .media-body
                      h4.media-heading
                        = commentaire.auteur
                        | &nbsp
                        small= commentaire.date
                      = commentaire.contenu
                .col-xs-1
                  form(name='supprimerCommentaire' action='/supprimerCommentaire/'+commentaire._id+"/"+articleSeul._id method='POST')
                    button.btn.btn-danger(type='submit') X
            else
              .media
                .media-body
                  h4.media-heading
                    = commentaire.auteur
                    | &nbsp
                    small= commentaire.date
                  = commentaire.contenu
            |
            br
          br
          .well
            if (session.niveau >= 0)
              form(name='commenter' action='/commenter/' + articleSeul._id method='POST')
                .form-group
                  textarea.form-control(rows='3' name='contenu' placeholder="Commenter cet article" required)
                  br
                  button.btn.btn-primary(type='submit') Envoyer
            else
              p Veuillez vous connecter pour commenter cet article.

        .col-sm-4
          .well
            h4 Auteur
            hr
            .row
              .col-sm-12
                img(src='', alt='')
                |
                p= articleSeul.auteur
          |
          .well
            h4 Derniers articles
            hr
            .row
              .col-sm-12
                ul.list-unstyled
                  each article in tousLesArticles
                    li
                      a(href='./' + article._id)= article.titre
                      br
                      br
                    |
          |
        |
        hr
include _footer.pug
